@model Web.Backend.Models.DynamicForm.DFormViewModel
@{
    ViewData["Title"] = Model.Table?.DisplayName;
    Model.ReturnUrl = string.Format("{0}{1}", Context.Request.Path, Context.Request.QueryString);
}

<div class="row" id="pnlDForm">
    <div class="col-lg-5">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        @Model.Table.DisplayName
                        <small>@Model.ActionMode.ToString() record</small>
                    </h3>
                </div>
            </div>
            <div class="card-body">
                <partial name="_AddEdit" model="Model" />
            </div>
        </div>
    </div>
</div>
<partial name="_Partials/_alertMessage" model="Model.AlertMessages" />

@section Toolbar{
    <a asp-action="Index" asp-controller="DForm" asp-route-fid="@Model.TableId" class="btn btn-secondary mr-2">
        <i class="la la-undo"></i> Return
    </a>
    @if (Model.ActionMode == FormActionMode.Edit)
    {
        <a class="btn btn-danger btn-delete mr-2" data-command="delete">
            <i class="flaticon-delete-1"></i> Delete
        </a>
    }
    <a class="btn btn-warning btn-reset mr-2">
        <i class="la la-undo-alt"></i> Reset
    </a>
    <div class="btn-group">
        <a class="btn btn-primary btn-submit"><i class="la la-save"></i> Save</a>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Save Options</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item btn-submit" href="#"><i class="la la-save"></i> Save</a>
            <a class="dropdown-item btn-submit" href="#" data-command="continue"><i class="la la-save"></i> Save & Continue</a>
        </div>
    </div>
}


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-reset').click(function (e) {
                e.preventDefault();
                $('#pnlDForm form').trigger("reset");
                $('#pnlDForm .select2').trigger("change"); 
            });

            $('.btn-submit').click(function (e) {
                e.preventDefault();      
                SubmitForm($(this), '#pnlDForm');
            });
            $('.btn-delete').click(function (e) {
                e.preventDefault();
                var btDelete = $(this);
                ConfirmDelete(function () {
                    SubmitForm(btDelete, '#pnlDForm');
                });
            });
        });

    </script>
}
