<script src="~/js/dropzone.js"></script>
<script src="~/js/upload.js"></script>
<div class="card card-custom gutter-b example example-compact">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Upload Files</h3>
        </div>
        <div class="card-toolbar">
            <div class="example-tools justify-content-center">
                <span class="example-toggle" data-toggle="tooltip" title="View code"></span>
            </div>
        </div>
    </div>

    <!--begin::Form-->
    <form  id="" name="kt_dropzone_2" class="dropzone">
        <div class="card-body">
            <div class="form-group row">
                <div class="col-lg-12 col-md-12 col-xl-12">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="dropzone dropzone-default dropzone-primary" id="kt_dropzone_2">
                            <div class="dropzone-msg dz-message needsclick">
                                <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                                <span class="dropzone-msg-desc">Upload up to 10 files</span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <a class="dropzone-select btn btn-light-primary font-weight-bold btn-sm">Attach files</a>
                        <a class="dropzone-upload btn btn-light-primary font-weight-bold btn-sm">Upload All</a>
                        <a class="dropzone-remove-all btn btn-light-primary font-weight-bold btn-sm">Remove All</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">

        </div>
    </form>
</div>

